@import "../../common/colors.scss";

.card-item {
  background-color: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
  .card-top img:hover {
    object-fit: cover;
    transform: rotate(22.5deg) scale(1.5);
    transition: all 0.3s;
  }
}
.card-top {
  height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    // transition: all 0.2s;
    // &:hover {
    //   transform: rotate(22.5deg);
    //   transform: scale(2);
    // }
  }
}
.card-bottom {
  padding: 10px;
}
.card-info {
  color: $font-primary;

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
